@media screen and (min-width:1200px){

.fixed-width{
            width: 1200px;
            margin: auto;
        }
        
        .col-3 {
            float: left;
            width: 380px;
            margin-right: 10px;
            margin-left: 10px;
            padding-left: 10px;
            padding-right: 10px;
                
        }
        
        .col-4{
             float: left;
            width: 280px;
            margin-right: 10px;
            margin-left: 10px;
            padding-left: 10px;
            padding-right: 10px;
            
        }
        
        .icon{
            
        }
        
        
        nav{
            height: 45px;
            background-color: #000;
        }
        
        nav .logo {
            float: left;
            color: aliceblue;
            line-height: 45px;
        }
        
        nav .menu {
            float: right;
        }
        
        nav .menu ul{
            margin:0;
            padding: 0 ;
        }
        
        nav .menu li {
            float: left;
            list-style: none;
        }
        
        nav .menu a {
            
            color:#fff ;
            text-decoration: none;
            display: block;
            line-height: 45px;
            padding-left: 15px;
            padding-right: 15px;
            font-size:  14px;    
            transition: all .3s;
        }
        
        nav .menu a:hover{
            background-color: #555;
        }
        
        header{
            height:750px;
            background-image: url(images/01.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            display: table;
        }
        header .overlay{
            height: 750px;
            background-color: rgba(0, 0, 0, 0.2);
            display: table-cell;
            vertical-align: middle;
            
        }
        
        header .content{
            color: #fff;
            margin: auto;
            width: 500px;
            text-align: center;
        }
        
        header .content h1{
            font-size: 120px;
            color: #419cea
        }
        
        header .content a{
            display: inline-block;
            width: 160px;
            color: #fff;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #ff004e;
            text-decoration: none;
            margin-top: 20px;
        }
    
/*
        header .content p{
            padding-top: 15px;
            padding-bottom: 15px;
        } 
*/
        
        #about{
            padding-top: 100px;
            padding-bottom: 100px;
            text-align: center;
            background-color: aliceblue;
        }
        
        
        #about .col-3{
            padding-top: 50px;
            
        }
        
        #about .col-3 p{
           line-height: 2em;
            opacity: .60;
            
        }
        
        #about h2{
            padding-bottom: 20px;
        }
        
        #about .col-3 h3{
            margin: 20px;
            padding-top: 30px;
            padding-bottom: 30px;
            
        }
        
        
         #about .col-4{
            padding-top: 50px;
           
            padding-left: 0;
            overflow: hidden;
        }
        
        #about .col-4 p{
           line-height: 2em;
            opacity: .60;
            
        }
        
       
        
        #about .col-4 h3{
            margin: 50px;
            padding-top: 30px;
            padding-bottom: 30px;
            
        }
        
        .icon{
            color:darkgray
        }
        
        #works{
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: #000;
            color:#fff;
            text-align: center;
            
        }
        
        #works .col-4{
           padding-left: 0;
            padding-right: 0;
        }
        
        
        #works p {
            padding-top: 30px;
            padding-bottom: 30px;
            
        }
        
       
        #works img{
          
            width:100%; 
        }
        
       
        footer{
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: #939191;
            color: aliceblue;
            
            
        }
        
        
        footer .copyrights{
            float: left;
            font-size: 20px;
            margin: 15px;
        }
        
        footer .sns{
            
            float: right;
        }
        
        footer a {
            margin: 10px;
            
        }
    }